/* RESET PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fredoka, sans-serif;
}

/* COMMON */
body{
    background-color: white;
}

.container{
    width: 70%;
    margin:auto;
    padding: 120px 100px;
}

.col{
    width: calc(100%/3);
    float: left;
    padding: 0 10px;
}

.colum{
    padding: 25px 25px;
}

img{
    width: 100px;
    float: left;
}

.card{
    background-color: black;
    color: white;
    margin-top: 30px;
    box-shadow: 1px 1px 7px rgba(100, 100, 100, 0.8);
}

.card-content {
    float: right;
    width: calc(100% - 100px);
    padding: 10px;
}

.info{
    display: block;
    text-align: left;
    margin-top: 5px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}
/* PAGINA */
h1{
    text-align: center;
    color: #e53170;
}

.subtitle{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

h3{
    margin-top: 5px;
}

.job{
    font-size: 15px;
}

.mail{
    font-size: 14px;
    color: #1ca3d8;
    font-style: italic;
}